<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button color="royal">
        <ion-icon class="icon" name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
    <ion-buttons end>
      <button ion-button color="royal" (click)="showAccount()">
        <ion-icon class="icon"  name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardHeader" clear (click)="createNote()">
    <ion-input type="text" placeholder="Titre" *ngIf="newNote"></ion-input>
    <ion-input type="text" placeholder="Contenu de votre note..."></ion-input>

    <ion-item *ngIf="newNote">
      <button primary clear item-right >
      <ion-icon  name="navigate"> OK </ion-icon>
    </button>
    </ion-item>
  </ion-card>

  <ion-grid padding>
    <ion-row *ngFor="let row of grid">
      <ion-col width-33 *ngFor="let note of row">
        <ion-card (click)="showNote(note)">
          <ion-card-content>
            <ion-card-title>
              {{note.title}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
