<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button color="royal">
        <ion-icon class="icon" name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
    <ion-buttons end>
      <button ion-button color="royal" (click)="showAccount()">
        <ion-icon class="icon"  name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="overlay" (click)="hideCreateNoteView()"></div>

  <ion-card class="cardHeader" clear (click)="showCreateNoteView()">
    <ion-input [(ngModel)]="noteTitle" type="text" class="title" placeholder="Titre" *ngIf="showCreate"></ion-input>
    <ion-input [(ngModel)]="noteContent" type="text" text-center placeholder="Une nouvelle idée ? Ajoute ça ici ;)"></ion-input>
    <ion-item *ngIf="showCreate">
      <button ion-button clear item-right (click)="createNote()">OK</button>
    </ion-item>
  </ion-card>

  <ion-list no-lines>
    <ion-item *ngFor="let note of notes | async">
      <ion-card (click)="showNote(note)">
        <ion-card-title>
          <ion-row>
            <ion-col padding>
              {{note.title}}
            </ion-col>
            <ion-col>
              <ion-buttons end>
                <button (click)="deleteNote(note.$key)">
                  <ion-icon name="trash" class="icon"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-card-content>
          {{note.content}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
