<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes notes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let note of notes" (click)="noteTapped($event, item)">
      <ion-icon name="{{note.icon}}" item-left></ion-icon>
      {{note.title}}
      <div class="item-note" item-right>
        {{note.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedNote" padding>
    You navigated here from <b>{{selectedNote.title}}</b>
  </div>
</ion-content>
