<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons end>
      <button ion-button color="royal" (click)="personAdd()">
        <ion-icon class="icon"  name="person-add"></ion-icon>
      </button>
      <button ion-button color="royal" (click)="share()">
        <ion-icon class="icon"  name="share"></ion-icon>
      </button>
      <button ion-button color="royal" (click)="star()">
        <ion-icon class="icon"  name="star"></ion-icon>
      </button>
      <button ion-button color="royal" (click)="showTime()">
        <ion-icon class="icon"  name="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button color="royal" (click)="dismiss()">
        <ion-icon class="icon"  name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardHeader" clear>
    <ion-input type="text" class="title" placeholder="Titre" [(ngModel)]="note.title"></ion-input>
    <ion-input type="text" placeholder="Une nouvelle idée ? Ajoute ça ici ;)" [(ngModel)]="note.content"></ion-input>
    <ion-list>
      <ion-item *ngFor="let items of note.items | async">
      </ion-item>
    </ion-list>
    <ion-item style="display:none">
      <ion-datetime #dateTime displayFormat="MM/DD/YYYY HH:mm" min="{{minDate}}" max="2020-10-31" [(ngModel)]="note.reminder"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="note.reminder">
      <ion-label>
        Prochain rappel :
      </ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" min="{{minDate}}" max="2020-10-31" [(ngModel)]="note.reminder"></ion-datetime>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button clear (click)="attach()">
          <ion-icon  name="attach"></ion-icon>
        </button>
        <button ion-button clear (click)="checklistMode()">
          <ion-icon  name="list"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-10>
        <button ion-button clear (click)="saveNote()">OK</button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-->checkbox-outline
  <-->
</ion-content>
