<ion-card class="cardHeader" clear (click)="showCreateNoteView()">
  <ion-input *ngIf="showCreate" type="text" class="title" placeholder="Titre" [(ngModel)]="newNote.title"></ion-input>
  <ion-input type="text" placeholder="Une nouvelle idée ? Ajoute ça ici ;)" [(ngModel)]="newNote.content"></ion-input>
  <ion-row *ngIf="showCreate">
    <ion-col>
      <button ion-button clear>
        <ion-icon name="attach"></ion-icon>
      </button>
      <button ion-button clear>
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <ion-buttons end>
        <button ion-button clear (click)="createNote()">OK</button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-card>
